<div [class]="'character-show ' + (show ? character?.rarity : '')">
    <img class="fond" src="fond_dc.png" alt="Fond Carte DC" *ngIf="!show" />
    <div class="card-container" [class.show]="show">
        <div class="card">
            <div class="front"><img src="{{character?.images?.sm}}" alt="character" />
                <div class="name">{{character?.name}}</div>
            </div>
            <div class="back"><img src="fond_dc.png" alt="Fond Carte DC" /></div>
        </div>
    </div>
</div>